In [16]:
import pandas as pd

df = pd.read_csv("./Housing-data-clean/combined_file.csv")
df.head()

,RegionName,RegionType,State,Metro,2000,2001,2002,2003,2004,2005,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Los Angeles County,county,CA,"Los Angeles-Long Beach-Anaheim, CA",229566.0,251079.0,283949.0,336898.0,417666.0,509641.0,...,519876.0,564769.0,629759.0,652732.0,690416.0,791994.0,886732.0,879980.0,929119.0,935981.0
1,San Diego County,county,CA,"San Diego-Chula Vista-Carlsbad, CA",242096.0,280748.0,319840.0,382304.0,468736.0,552540.0,...,540254.0,579252.0,614618.0,620588.0,656934.0,779931.0,914982.0,919728.0,999856.0,1003556.0
2,Orange County,county,CA,"Los Angeles-Long Beach-Anaheim, CA",295467.0,333243.0,376859.0,446047.0,561747.0,661605.0,...,663345.0,719009.0,773431.0,775283.0,811848.0,928638.0,1097495.0,1120094.0,1239349.0,1288744.0
3,Riverside County,county,CA,"Riverside-San Bernardino-Ontario, CA",163258.0,182534.0,205146.0,241515.0,301344.0,379288.0,...,340224.0,361088.0,393576.0,405954.0,427756.0,514517.0,607098.0,602492.0,632743.0,634017.0
4,San Bernardino County,county,CA,"Riverside-San Bernardino-Ontario, CA",132716.0,145314.0,162844.0,192070.0,243926.0,316527.0,...,282530.0,310783.0,348395.0,359802.0,382109.0,457225.0,532345.0,532457.0,560511.0,564182.0

In [17]:
df = df[['RegionName']]
df['id'] = ['C' + str(i).zfill(2) for i in range(1, len(df)+1)]
df = df[['id', 'RegionName']]
df.head(15)

     id             RegionName
0   C01     Los Angeles County
1   C02       San Diego County
2   C03          Orange County
3   C04       Riverside County
4   C05  San Bernardino County
5   C06     Santa Clara County
6   C07         Alameda County
7   C08      Sacramento County
8   C09    Contra Costa County
9   C10          Fresno County
10  C11            Kern County
11  C12   San Francisco County
12  C13         Ventura County
13  C14     San Joaquin County
14  C15       San Mateo County

In [7]:
df.to_csv("./Schema-data/Counties.csv", index=False)

In [18]:
df = pd.read_csv("./Housing-data-clean/combined_file.csv")
df.head()

,RegionName,RegionType,State,Metro,2000,2001,2002,2003,2004,2005,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Los Angeles County,county,CA,"Los Angeles-Long Beach-Anaheim, CA",229566.0,251079.0,283949.0,336898.0,417666.0,509641.0,...,519876.0,564769.0,629759.0,652732.0,690416.0,791994.0,886732.0,879980.0,929119.0,935981.0
1,San Diego County,county,CA,"San Diego-Chula Vista-Carlsbad, CA",242096.0,280748.0,319840.0,382304.0,468736.0,552540.0,...,540254.0,579252.0,614618.0,620588.0,656934.0,779931.0,914982.0,919728.0,999856.0,1003556.0
2,Orange County,county,CA,"Los Angeles-Long Beach-Anaheim, CA",295467.0,333243.0,376859.0,446047.0,561747.0,661605.0,...,663345.0,719009.0,773431.0,775283.0,811848.0,928638.0,1097495.0,1120094.0,1239349.0,1288744.0
3,Riverside County,county,CA,"Riverside-San Bernardino-Ontario, CA",163258.0,182534.0,205146.0,241515.0,301344.0,379288.0,...,340224.0,361088.0,393576.0,405954.0,427756.0,514517.0,607098.0,602492.0,632743.0,634017.0
4,San Bernardino County,county,CA,"Riverside-San Bernardino-Ontario, CA",132716.0,145314.0,162844.0,192070.0,243926.0,316527.0,...,282530.0,310783.0,348395.0,359802.0,382109.0,457225.0,532345.0,532457.0,560511.0,564182.0

In [26]:
year_cols = [str(year) for year in range(2000, 2026)]

df_long = df.melt(id_vars=['RegionName'], value_vars=year_cols, 
                  var_name='Year', value_name='HousingCost')
# Optional: convert Year to integer
df_long['Year'] = df_long['Year'].astype(int)

df_counties= pd.read_csv("./Schema-data/Counties.csv")

df_long = df_long.merge(df_counties[['id', 'RegionName']], on='RegionName', how='left')

#df_long['HousingID'] = ['H' + str(i).zfill(4) for i in range(1, len(df_long)+1)]

df_long = df_long.rename(columns={'id':'county_id'})

df_long['id'] = ['H' + str(i).zfill(4) for i in range(1, len(df_long)+1)]

df_long = df_long[['id', 'county_id', 'Year', 'HousingCost']]

df_long.head(50)

       id county_id  Year  HousingCost
0   H0001       C01  2000     229566.0
1   H0002       C02  2000     242096.0
2   H0003       C03  2000     295467.0
3   H0004       C04  2000     163258.0
4   H0005       C05  2000     132716.0
5   H0006       C06  2000     449501.0
6   H0007       C07  2000     314771.0
7   H0008       C08  2000     158328.0
8   H0009       C09  2000     295641.0
9   H0010       C10  2000     115916.0
10  H0011       C11  2000      99182.0
11  H0012       C12  2000     457833.0
12  H0013       C13  2000     291382.0
13  H0014       C14  2000     172413.0
14  H0015       C15  2000     480542.0
15  H0016       C16  2000     150239.0
16  H0017       C17  2000     299462.0
17  H0018       C18  2000     108589.0
18  H0019       C19  2000     203740.0
19  H0020       C20  2000     295783.0
20  H0021       C21  2000     287463.0
21  H0022       C22  2000     252479.0
22  H0023       C23  2000     226685.0
23  H0024       C24  2000          NaN
24  H0025       C25  2000     343862.0
25  H0026       C26  2000     536014.0
26  H0027       C27  2000          NaN
27  H0028       C28  2000     195201.0
28  H0029       C29  2000     219148.0
29  H0030       C30  2000     114543.0
30  H0031       C31  2000          NaN
31  H0032       C32  2000          NaN
32  H0033       C33  2000          NaN
33  H0034       C34  2000     276175.0
34  H0035       C35  2000          NaN
35  H0036       C36  2000          NaN
36  H0037       C37  2000          NaN
37  H0038       C38  2000          NaN
38  H0039       C39  2000          NaN
39  H0040       C40  2000          NaN
40  H0041       C41  2000          NaN
41  H0042       C42  2000          NaN
42  H0043       C43  2000          NaN
43  H0044       C44  2000          NaN
44  H0045       C45  2000          NaN
45  H0046       C46  2000          NaN
46  H0047       C47  2000          NaN
47  H0048       C48  2000          NaN
48  H0049       C49  2000          NaN
49  H0050       C50  2000          NaN

In [27]:
df_long.to_csv("./Schema-data/Housing-Cost.csv", index=False)