In [11]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\markb\anaconda3\envs\dev\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd

# Load the Excel file into a DataFrame
df = pd.read_excel("./Industry-data-raw/ALPINHWS.xls")
df.head(20)

,2025-08-15 16:24:57,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 185,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189,Unnamed: 190,Unnamed: 191,Unnamed: 192,Unnamed: 193,Unnamed: 194
0,Employment Development Department,NaN,NaN,NaN,NaN,NaN,Alpine County,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Labor Market Information Division,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(916) 262-2162,NaN,NaN,NaN,NaN,NaN,Industry Employment & Labor Force - by MONTH,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,March 2024 Benchmark,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,See notes at bottom of page for column definit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2024-10-01 00:00:00,2024-11-01 00:00:00,2024-12-01 00:00:00,2025-01-01 00:00:00,2025-02-01 00:00:00,2025-03-01 00:00:00,2025-04-01 00:00:00,2025-05-01 00:00:00,2025-06-01 00:00:00,2025-07-01 00:00:00
7,1,2024,3,NaN,NaN,1,00-000010,Civilian Labor Force,710,700,...,360,380,470,550,550,550,500,400,390,400
8,2,2024,3,NaN,NaN,1,00-000020,Civilian Employment,640,630,...,330,350,440,510,520,520,460,360,350,360
9,3,2024,3,NaN,NaN,1,00-000030,Civilian Unemployment,70,70,...,30,40,30,40,30,40,30,40,40,40
10,4,2024,3,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.103,0.1,...,0.089,0.091,0.068,0.069,0.061,0.064,0.065,0.098,0.107,0.101
11,8,2024,3,"110000-813000, 920000",NaN,1,01-000000,Total Wage and Salary,1100,1060,...,700,760,1020,1210,1230,1200,1070,770,750,780
12,9,2024,3,"111000-113200, 114000-115000",NaN,1,11-000000,Total Farm,0,0,...,0,0,0,0,0,0,0,0,0,0
13,10,2024,3,"113000, 210000-813000, 92000",NaN,1,00-000000,Total Nonfarm,1100,1060,...,700,760,1020,1210,1230,1200,1070,770,750,780
14,11,2024,3,"113000, 210000-813000",NaN,1,05-000000,Total Private,830,800,...,400,470,730,930,930,900,760,460,440,470
15,12,2024,3,"113000, 210000, 230000-330000",NaN,1,06-000000,Goods Producing,10,0,...,10,10,10,10,10,10,10,10,10,10
16,13,2024,3,"220000, 420000-813000, 92000",NaN,1,07-000000,Service-Providing,1090,1060,...,690,760,1010,1210,1220,1200,1060,760,740,770
17,14,2024,3,"40-000000,50-000000,55-000000,60-000000,65-000...",NaN,5,08-000000,Private Service Providing,820,800,...,390,460,720,920,930,890,750,450,430,460
18,15,2024,3,"910000, 920000, 930000, 940000",NaN,1,90-000000,Government,270,260,...,300,300,290,290,300,310,310,310,310,310
19,16,2024,3,910000-912999,NaN,1,90-910000,Federal Government,10,10,...,0,0,0,0,0,0,0,0,0,0

In [24]:
file_name = df.iloc[0, 6]

file_name = df.iloc[0, 6]

if "county" not in file_name.lower():   # check case-insensitive
    file_name = df.iloc[1, 6]

AttributeError: 'str' object has no attribute 'str'