In [11]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\markb\anaconda3\envs\dev\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd
import os
import re

# Data Paths
input_folder = "./Industry-data-raw"
output_folder = "./Industry-data-clean"

# Make sure output folder exists
os.makedirs(output_folder, exist_ok=True)

# Load the Excel file into a DataFrame
for file_name in os.listdir(input_folder):
    if file_name.endswith(".xls") or file_name.endswith(".xlsx"):  # only Excel files
        # Build full file path
        file_path = os.path.join(input_folder, file_name)
        
        # Read Excel file
        df = pd.read_excel(file_path)

        # Getting file name-County name
        county_name = df.iloc[0, 6]
        if "county" not in county_name.lower():
            county_name = df.iloc[1, 6]

        county_name = re.sub(r"[()]", "", county_name).replace(" ", "_")

        # Removing unnecesary info
        df = df.iloc[6:].reset_index(drop=True)
        df.columns = df.iloc[0]
        df = df[1:].reset_index(drop=True)

        # Seperating by dates and titles
        only_dates = df.iloc[:, 8:]
        only_info = df['TITLE']

        # Organize info by years instead of months and averaged them out
        only_dates.columns = pd.to_datetime(only_dates.columns)
        df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)

        # Combine them back together
        df_combined = pd.concat([only_info, df_yearly], axis=1)
        df_combined = df_combined.iloc[:-9].reset_index(drop=True)

        # remove the row where Title == "Civilian Unemployment Rate"
        df_combined = df_combined[df_combined["Title"] != "Civilian Unemployment Rate"]

        df_per_mil = df_combined.copy()
        clf = df_per_mil[df_per_mil['TITLE'].str.contains("Civilian Labor Force", case=False)].iloc[0, 1:]

        for col in df_per_mil.columns[1:]:  # skip 'TITLE'
            df_per_mil[col] = (df_per_mil[col] / clf[col]) * 1_000_000

        # Export data in clean folder
        df_combined.to_csv(f"./Industry-data-clean/{county_name}.csv", index=False)

# EVERY THING BELOW IS TESTED CODE ^^^ ABOVE IS A FOR LOOP DOING THE SAME THING ^^^

C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
C:\Users\markb\AppData\Local\Temp\ipykernel_40208\1041432825.py:39: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)

In [2]:
county_name = df.iloc[0, 6]

if "county" not in county_name.lower():
    county_name = df.iloc[1, 6]

county_name

'Alameda County'

In [3]:
df = df.iloc[6:].reset_index(drop=True)
df.columns = df.iloc[0]
df = df[1:].reset_index(drop=True)
df

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2024-10-01 00:00:00,2024-11-01 00:00:00,2024-12-01 00:00:00,2025-01-01 00:00:00,2025-02-01 00:00:00,2025-03-01 00:00:00,2025-04-01 00:00:00,2025-05-01 00:00:00,2025-06-01 00:00:00,2025-07-01 00:00:00
0,1,2024,1,NaN,NaN,1,00-000010,Civilian Labor Force,785700,786600,...,866800,865600,862800,866300,867800,876300,869600,869800,867900,871500
1,2,2024,1,NaN,NaN,1,00-000020,Civilian Employment,695900,698200,...,826900,825700,825600,826200,829200,838400,833300,833700,824500,825600
2,3,2024,1,NaN,NaN,1,00-000030,Civilian Unemployment,89900,88300,...,39900,39900,37200,40100,38600,37800,36300,36100,43400,45900
3,4,2024,1,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.114,0.112,...,0.046,0.046,0.043,0.046,0.044,0.043,0.042,0.041,0.05,0.053
4,8,2023,1,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",648600,650200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,9,2023,1,"111000-113200, 114000-115000",NaN,1,11-000000,Total Farm,800,700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10,2023,1,"113000, 210000-813000, 92000",NaN,1,00-000000,Total Nonfarm,647800,649500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11,2023,1,"113000, 210000, 230000-330000",NaN,1,06-000000,Goods Producing,91200,91000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,13,2023,1,"1133000, 210000",NaN,1,15-000000,"Mining, Logging and Construction",29500,28900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,14,2023,1,210000-330000,NaN,1,30-000000,Manufacturing,61700,62100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,15,2023,1,"321000, 327000-330000",NaN,1,31-000000,Durable Goods,43800,44200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,16,2023,1,"311000-316000, 322000-326000",NaN,1,32-000000,Nondurable Goods,17900,17900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,17,2023,1,"220000, 420000-813000, 92000",NaN,1,07-000000,Service Providing,556600,558500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,18,2023,1,"220000, 420000-490000",NaN,1,40-000000,"Trade, Transportation & Utilities",117900,116900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,19,2023,1,NaN,NaN,1,41-000000,Wholesale Trade,34100,34100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,20,2023,1,440000-450000,NaN,1,42-000000,Retail Trade,61000,59900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,21,2023,1,NaN,NaN,1,43-000000,"Transportation, Warehousing, and Utili...",22800,22900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,22,2023,1,NaN,NaN,1,50-000000,Information,15100,14900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,23,2023,1,520000-530000,NaN,1,55-000000,Financial Activities,22400,22900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,24,2023,1,NaN,NaN,1,55-520000,Finance & Insurance,13500,13900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,25,2023,1,NaN,NaN,1,55-530000,Real Estate & Rental & Leasing,8900,9000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,26,2023,1,540000-560000,NaN,1,60-000000,Professional and Business Services,105300,106000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,27,2023,1,NaN,NaN,1,60-540000,"Professional, Scientific & Technical S...",56300,56900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,28,2023,1,NaN,NaN,1,60-550000,Management of Companies & Enterprises,19500,19500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,29,2023,1,NaN,NaN,1,60-560000,Administrative and Support and Waste a...,29500,29600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,30,2023,1,610000-620000,NaN,1,65-000000,Private Education and Health Services,104300,104900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,31,2023,1,NaN,NaN,1,65-610000,Private Educational Services,13200,14100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,32,2023,1,NaN,NaN,1,65-620000,Health Care & Social Assistance,91100,90800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,33,2023,1,710000-720000,NaN,1,70-000000,Leisure and Hospitality,52100,52200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,34,2023,1,NaN,NaN,1,70-710000,"Arts, Entertainment, and Recreation",8500,8400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,35,2023,1,NaN,NaN,1,70-720000,Accommodation & Food Services,43600,43800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,36,2023,1,811000-813000,NaN,1,80-000000,Other Services,22300,22500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,37,2023,1,"910000, 920000, 930000, 940000",NaN,1,90-000000,Government,117200,118200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,38,2023,1,910000-912999,NaN,1,90-910000,Federal Government,10300,10100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,39,2023,1,"921611, 922999",NaN,1,90-920000,State Government,35700,37200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,40,2023,1,"931611, 939012, 939022, 932994",NaN,1,90-930000,Local Government,71200,70900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NOTES: The unemployment rate is calculated usi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Note on column C: County FIPS code or MSA des...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Note on column E: the historical series has a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Note on column F: a '1' means the cell is cur...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,a '2' means the c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,a '5' means the c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Note on column G: 'SS-NAICS' refers to the No...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
only_dates = df.iloc[:, 8:]
only_info = df['TITLE']
only_info

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                       Goods Producing
8                      Mining, Logging and Construction
9                                         Manufacturing
10                                        Durable Goods
11                                     Nondurable Goods
12                                    Service Providing
13                    Trade, Transportation & Utilities
14                                      Wholesale Trade
15                                         Retail Trade
16            Transportation, Warehousing, and Utili...
17                                          Information
18                                 Financial Activities
19                                  Finance & Insurance
20                       Real Estate & Rental & Leasing
21                   Professional and Business Services
22            Professional, Scientific & Technical S...
23                Management of Companies & Enterprises
24            Administrative and Support and Waste a...
25                Private Education and Health Services
26                         Private Educational Services
27                      Health Care & Social Assistance
28                              Leisure and Hospitality
29                  Arts, Entertainment, and Recreation
30                        Accommodation & Food Services
31                                       Other Services
32                                           Government
33                                   Federal Government
34                                     State Government
35                                     Local Government
36                                                  NaN
37                                                  NaN
38                                                  NaN
39                                                  NaN
40                                                  NaN
41                                                  NaN
42                                                  NaN
43                                                  NaN
44                                                  NaN
Name: TITLE, dtype: object

In [5]:
only_dates.columns = pd.to_datetime(only_dates.columns)
df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)
df_yearly

C:\Users\markb\AppData\Local\Temp\ipykernel_40208\848566182.py:2: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = only_dates.groupby(only_dates.columns.year, axis=1).mean().round(0)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,783075.0,783558.0,796133.0,800592.0,807200.0,819358.0,878283.0,885825.0,888967.0,889625.0,860325.0,846483.0,856583.0,866300.0,866317.0,869886.0
1,697000.0,704558.0,726683.0,742075.0,759592.0,780342.0,842175.0,854525.0,863033.0,864417.0,787358.0,796892.0,829125.0,833183.0,827717.0,830129.0
2,86067.0,79008.0,69433.0,58517.0,47592.0,39025.0,36117.0,31308.0,25933.0,25208.0,72967.0,49600.0,27475.0,33133.0,38600.0,39743.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,653592.0,662442.0,682800.0,701625.0,720633.0,749433.0,771908.0,790300.0,807450.0,815150.0,751950.0,777083.0,804900.0,813583.0,NaN,NaN
5,733.0,700.0,658.0,550.0,500.0,450.0,475.0,608.0,617.0,667.0,725.0,967.0,850.0,792.0,NaN,NaN
6,652858.0,661742.0,682142.0,701075.0,720133.0,748983.0,771433.0,789692.0,806833.0,814483.0,751225.0,776117.0,804050.0,812792.0,NaN,NaN
7,90458.0,92975.0,95608.0,100192.0,105108.0,113342.0,118050.0,125867.0,133758.0,134625.0,130308.0,140517.0,146700.0,145142.0,NaN,NaN
8,30308.0,30833.0,33283.0,35550.0,37600.0,40875.0,43042.0,45925.0,49042.0,49592.0,46650.0,48675.0,48417.0,47392.0,NaN,NaN
9,60150.0,62142.0,62325.0,64642.0,67508.0,72467.0,75008.0,79942.0,84717.0,85033.0,83658.0,91842.0,98283.0,97750.0,NaN,NaN
10,42042.0,43142.0,43342.0,43717.0,46133.0,49942.0,51783.0,55525.0,60650.0,61342.0,62208.0,70775.0,76783.0,76492.0,NaN,NaN
11,18108.0,19000.0,18983.0,20925.0,21375.0,22525.0,23225.0,24417.0,24067.0,23692.0,21450.0,21067.0,21500.0,21258.0,NaN,NaN
12,562400.0,568767.0,586533.0,600883.0,615025.0,635642.0,653383.0,663825.0,673075.0,679858.0,620917.0,635600.0,657350.0,667650.0,NaN,NaN
13,117800.0,119150.0,123250.0,127658.0,131300.0,135683.0,137900.0,138292.0,139733.0,138817.0,129367.0,134042.0,137208.0,137100.0,NaN,NaN
14,34292.0,34325.0,35558.0,36533.0,36967.0,38067.0,38650.0,38083.0,37767.0,36367.0,33642.0,33133.0,33325.0,32950.0,NaN,NaN
15,60717.0,61383.0,63525.0,67158.0,68908.0,70767.0,71767.0,71242.0,71658.0,70258.0,62475.0,64417.0,64042.0,64117.0,NaN,NaN
16,22800.0,23450.0,24167.0,23975.0,25433.0,26850.0,27483.0,28967.0,30308.0,32192.0,33250.0,36492.0,39842.0,40033.0,NaN,NaN
17,14333.0,14167.0,14492.0,14067.0,14683.0,16642.0,18233.0,18792.0,19967.0,20533.0,19900.0,18792.0,19142.0,18617.0,NaN,NaN
18,23333.0,24492.0,26067.0,28033.0,29058.0,29283.0,30333.0,28733.0,28008.0,28350.0,27033.0,27092.0,27075.0,27283.0,NaN,NaN
19,14300.0,15658.0,16942.0,18475.0,19100.0,19400.0,20267.0,18458.0,17458.0,17542.0,17133.0,16817.0,16283.0,16333.0,NaN,NaN
20,9033.0,8833.0,9125.0,9558.0,9958.0,9883.0,10067.0,10275.0,10550.0,10808.0,9900.0,10275.0,10792.0,10950.0,NaN,NaN
21,108133.0,111025.0,117258.0,118350.0,120350.0,125667.0,128733.0,130383.0,134025.0,136625.0,128908.0,134358.0,137842.0,135008.0,NaN,NaN
22,57250.0,58450.0,61792.0,62383.0,64092.0,68358.0,71933.0,69342.0,73467.0,76392.0,73850.0,76975.0,80250.0,80250.0,NaN,NaN
23,19400.0,20342.0,21633.0,19425.0,17908.0,15908.0,14275.0,17425.0,16942.0,16467.0,16100.0,16775.0,17000.0,16375.0,NaN,NaN
24,31483.0,32233.0,33833.0,36542.0,38350.0,41400.0,42525.0,43617.0,43617.0,43767.0,38958.0,40608.0,40592.0,38383.0,NaN,NaN
25,105017.0,104575.0,108283.0,111025.0,111625.0,114492.0,117558.0,122150.0,123592.0,125958.0,121783.0,125117.0,128508.0,135825.0,NaN,NaN
26,13917.0,14067.0,14592.0,15592.0,16000.0,15558.0,15967.0,15758.0,15817.0,16408.0,13992.0,14300.0,15225.0,15342.0,NaN,NaN
27,91100.0,90508.0,93692.0,95433.0,95625.0,98933.0,101592.0,106392.0,107775.0,109550.0,107792.0,110817.0,113283.0,120483.0,NaN,NaN
28,54467.0,55967.0,58333.0,61883.0,65767.0,68367.0,70917.0,74117.0,76425.0,78000.0,53025.0,57867.0,68617.0,71142.0,NaN,NaN
29,8983.0,9108.0,9100.0,9392.0,9767.0,9842.0,10092.0,10883.0,11542.0,12858.0,7242.0,7908.0,10517.0,11300.0,NaN,NaN
30,45483.0,46858.0,49233.0,52492.0,56000.0,58525.0,60825.0,63233.0,64883.0,65142.0,45783.0,49958.0,58100.0,59842.0,NaN,NaN
31,23192.0,23342.0,23992.0,24808.0,24958.0,25450.0,26225.0,27192.0,27458.0,27492.0,22475.0,23800.0,25775.0,27192.0,NaN,NaN
32,116117.0,116042.0,114858.0,115058.0,117275.0,120058.0,123483.0,124167.0,123867.0,124083.0,118425.0,114533.0,113183.0,115483.0,NaN,NaN
33,10483.0,9733.0,9583.0,9300.0,9250.0,9100.0,9150.0,9025.0,8733.0,8708.0,9042.0,8583.0,8308.0,8442.0,NaN,NaN
34,36892.0,37133.0,37258.0,37600.0,37992.0,38567.0,38367.0,37892.0,37875.0,38025.0,36542.0,34208.0,31492.0,32083.0,NaN,NaN
35,68742.0,69175.0,68017.0,68158.0,70033.0,72392.0,75967.0,77250.0,77258.0,77350.0,72842.0,71742.0,73383.0,74958.0,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_combined = pd.concat([only_info, df_yearly], axis=1)
df_combined = df_combined.iloc[:-9].reset_index(drop=True)
df_combined

,TITLE,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Civilian Labor Force,783075.0,783558.0,796133.0,800592.0,807200.0,819358.0,878283.0,885825.0,888967.0,889625.0,860325.0,846483.0,856583.0,866300.0,866317.0,869886.0
1,Civilian Employment,697000.0,704558.0,726683.0,742075.0,759592.0,780342.0,842175.0,854525.0,863033.0,864417.0,787358.0,796892.0,829125.0,833183.0,827717.0,830129.0
2,Civilian Unemployment,86067.0,79008.0,69433.0,58517.0,47592.0,39025.0,36117.0,31308.0,25933.0,25208.0,72967.0,49600.0,27475.0,33133.0,38600.0,39743.0
3,Civilian Unemployment Rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Total, All Industries",653592.0,662442.0,682800.0,701625.0,720633.0,749433.0,771908.0,790300.0,807450.0,815150.0,751950.0,777083.0,804900.0,813583.0,NaN,NaN
5,Total Farm,733.0,700.0,658.0,550.0,500.0,450.0,475.0,608.0,617.0,667.0,725.0,967.0,850.0,792.0,NaN,NaN
6,Total Nonfarm,652858.0,661742.0,682142.0,701075.0,720133.0,748983.0,771433.0,789692.0,806833.0,814483.0,751225.0,776117.0,804050.0,812792.0,NaN,NaN
7,Goods Producing,90458.0,92975.0,95608.0,100192.0,105108.0,113342.0,118050.0,125867.0,133758.0,134625.0,130308.0,140517.0,146700.0,145142.0,NaN,NaN
8,"Mining, Logging and Construction",30308.0,30833.0,33283.0,35550.0,37600.0,40875.0,43042.0,45925.0,49042.0,49592.0,46650.0,48675.0,48417.0,47392.0,NaN,NaN
9,Manufacturing,60150.0,62142.0,62325.0,64642.0,67508.0,72467.0,75008.0,79942.0,84717.0,85033.0,83658.0,91842.0,98283.0,97750.0,NaN,NaN
10,Durable Goods,42042.0,43142.0,43342.0,43717.0,46133.0,49942.0,51783.0,55525.0,60650.0,61342.0,62208.0,70775.0,76783.0,76492.0,NaN,NaN
11,Nondurable Goods,18108.0,19000.0,18983.0,20925.0,21375.0,22525.0,23225.0,24417.0,24067.0,23692.0,21450.0,21067.0,21500.0,21258.0,NaN,NaN
12,Service Providing,562400.0,568767.0,586533.0,600883.0,615025.0,635642.0,653383.0,663825.0,673075.0,679858.0,620917.0,635600.0,657350.0,667650.0,NaN,NaN
13,"Trade, Transportation & Utilities",117800.0,119150.0,123250.0,127658.0,131300.0,135683.0,137900.0,138292.0,139733.0,138817.0,129367.0,134042.0,137208.0,137100.0,NaN,NaN
14,Wholesale Trade,34292.0,34325.0,35558.0,36533.0,36967.0,38067.0,38650.0,38083.0,37767.0,36367.0,33642.0,33133.0,33325.0,32950.0,NaN,NaN
15,Retail Trade,60717.0,61383.0,63525.0,67158.0,68908.0,70767.0,71767.0,71242.0,71658.0,70258.0,62475.0,64417.0,64042.0,64117.0,NaN,NaN
16,"Transportation, Warehousing, and Utili...",22800.0,23450.0,24167.0,23975.0,25433.0,26850.0,27483.0,28967.0,30308.0,32192.0,33250.0,36492.0,39842.0,40033.0,NaN,NaN
17,Information,14333.0,14167.0,14492.0,14067.0,14683.0,16642.0,18233.0,18792.0,19967.0,20533.0,19900.0,18792.0,19142.0,18617.0,NaN,NaN
18,Financial Activities,23333.0,24492.0,26067.0,28033.0,29058.0,29283.0,30333.0,28733.0,28008.0,28350.0,27033.0,27092.0,27075.0,27283.0,NaN,NaN
19,Finance & Insurance,14300.0,15658.0,16942.0,18475.0,19100.0,19400.0,20267.0,18458.0,17458.0,17542.0,17133.0,16817.0,16283.0,16333.0,NaN,NaN
20,Real Estate & Rental & Leasing,9033.0,8833.0,9125.0,9558.0,9958.0,9883.0,10067.0,10275.0,10550.0,10808.0,9900.0,10275.0,10792.0,10950.0,NaN,NaN
21,Professional and Business Services,108133.0,111025.0,117258.0,118350.0,120350.0,125667.0,128733.0,130383.0,134025.0,136625.0,128908.0,134358.0,137842.0,135008.0,NaN,NaN
22,"Professional, Scientific & Technical S...",57250.0,58450.0,61792.0,62383.0,64092.0,68358.0,71933.0,69342.0,73467.0,76392.0,73850.0,76975.0,80250.0,80250.0,NaN,NaN
23,Management of Companies & Enterprises,19400.0,20342.0,21633.0,19425.0,17908.0,15908.0,14275.0,17425.0,16942.0,16467.0,16100.0,16775.0,17000.0,16375.0,NaN,NaN
24,Administrative and Support and Waste a...,31483.0,32233.0,33833.0,36542.0,38350.0,41400.0,42525.0,43617.0,43617.0,43767.0,38958.0,40608.0,40592.0,38383.0,NaN,NaN
25,Private Education and Health Services,105017.0,104575.0,108283.0,111025.0,111625.0,114492.0,117558.0,122150.0,123592.0,125958.0,121783.0,125117.0,128508.0,135825.0,NaN,NaN
26,Private Educational Services,13917.0,14067.0,14592.0,15592.0,16000.0,15558.0,15967.0,15758.0,15817.0,16408.0,13992.0,14300.0,15225.0,15342.0,NaN,NaN
27,Health Care & Social Assistance,91100.0,90508.0,93692.0,95433.0,95625.0,98933.0,101592.0,106392.0,107775.0,109550.0,107792.0,110817.0,113283.0,120483.0,NaN,NaN
28,Leisure and Hospitality,54467.0,55967.0,58333.0,61883.0,65767.0,68367.0,70917.0,74117.0,76425.0,78000.0,53025.0,57867.0,68617.0,71142.0,NaN,NaN
29,"Arts, Entertainment, and Recreation",8983.0,9108.0,9100.0,9392.0,9767.0,9842.0,10092.0,10883.0,11542.0,12858.0,7242.0,7908.0,10517.0,11300.0,NaN,NaN
30,Accommodation & Food Services,45483.0,46858.0,49233.0,52492.0,56000.0,58525.0,60825.0,63233.0,64883.0,65142.0,45783.0,49958.0,58100.0,59842.0,NaN,NaN
31,Other Services,23192.0,23342.0,23992.0,24808.0,24958.0,25450.0,26225.0,27192.0,27458.0,27492.0,22475.0,23800.0,25775.0,27192.0,NaN,NaN
32,Government,116117.0,116042.0,114858.0,115058.0,117275.0,120058.0,123483.0,124167.0,123867.0,124083.0,118425.0,114533.0,113183.0,115483.0,NaN,NaN
33,Federal Government,10483.0,9733.0,9583.0,9300.0,9250.0,9100.0,9150.0,9025.0,8733.0,8708.0,9042.0,8583.0,8308.0,8442.0,NaN,NaN
34,State Government,36892.0,37133.0,37258.0,37600.0,37992.0,38567.0,38367.0,37892.0,37875.0,38025.0,36542.0,34208.0,31492.0,32083.0,NaN,NaN
35,Local Government,68742.0,69175.0,68017.0,68158.0,70033.0,72392.0,75967.0,77250.0,77258.0,77350.0,72842.0,71742.0,73383.0,74958.0,NaN,NaN

In [8]:
df_combined.to_csv(f"./Industry-data-clean/{county_name}.csv", index=False)